{% extends "layout.html" %}
{% block content %}
<div>
  <div class="row">
      <div class="col-lg-10">
            <h1 class="font-weight-bold page-title"><small>{{ title }}</small></h1>
        </div>
        <div class="col-lg-2">
            <a class='btn btn btn-primary save float-right m-1' href="{{ url_for('team.add')}}">New Team</a>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-12 table-responsive">
            <table class="display table table-striped text-center table-bordered table-sm dataTable"
              cellspacing="0" width="100%" role="grid" aria-describedby="dtBasicExample_info" style="width: 100%;">
              <thead>
                <tr role="row">
                  <th>ID</th>
                  <th>Team</th>
                  <th>Team Description</th>
                  <th>Update Team</th>
                  <th>View Team</th>
                </tr>
              </thead>
              {% for team in teams %}
              <tr role="row" class="odd">
                <td class="sorting_1">{{ team.id }}</td>
                <td>{{ team.team }}</td>
                <td>{{ team.team_desc }}</td>
                <td><a class="btn btn-secondary" href="{{ url_for('team.edit', id=team.id )}}">  Update  </a></td>
                <td><a class="btn btn-primary" href="{{ url_for('team.view', id=team.id )}}">  View  </a></td>
              </tr>
              {% endfor %}
            </table>
      </div>
    </div>
</div>

{% endblock content %}
