{% extends "layout.html" %}

{% block content %}
{% from 'includes/_formhelpers.html' import render_field_grid, render_3split_grid %}
    <h1>{{ title }}</h1>
    <div class="content-section">
      <form action="" method="post">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">{{ title }}</legend>
          <div class="form-group">
            {{ render_field_grid(form.who) }}
            {{ render_field_grid(form.what) }}
            {{ render_field_grid(form.in_order) }}
          </div>
        </fieldset>
        <div class="form-group">
          {{ form.submit(class="btn btn-success") }}
          {% if title == 'Update User Storey' %}
            <a class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">  Delete  </a>
          {% endif %}
          <a class="btn btn-primary" href="{{ url_for('stories.list')}}">  Close  </a>
        </div>
      </form>
    </div>
    <div class="border-top pt-3">
  {% if title == 'Update User Storey' %}

  <div class="col-sm-12 table-responsive">
        <table class="display table table-striped text-center table-bordered table-sm dataTable"
          cellspacing="0" width="100%" role="grid" aria-describedby="dtBasicExample_info" style="width: 100%;">
          <thead>
            <tr role="row">
              <th>ID</th>
              <th>Given</th>
              <th>When</th>
              <th>Then</th>
              <th>Delete</th>
            </tr>
          </thead>
          {% for accept in acceptance %}
          <tr role="row" class="odd">
            <td class="sorting_1">{{ accept.id }}</td>
            <td>{{ accept.given }}</td>
            <td>{{ accept.when }}</td>
            <td>{{ accept.then }}</td>
            <td><a class="btn btn-danger" href="{{ url_for('stories.delete_acceptance', id=accept.id, storey=stories.id )}}">  Delete  </a></td>
          </tr>
          {% endfor %}
        </table>
  </div>

  <div class="content-section">
    <form action="" method="post">
      {{ form2.hidden_tag() }}
      <fieldset class="form-group">
        <div class="row">
          <div class="col-lg-11">
            <legend class="border-bottom mb-4">Add Acceptance Criteria</legend>
          </div>
          <div class="col-lg-1">
            {{ form2.submit(class="btn btn-success") }}
          </div>
        </div>

        <div class="form-group">
          {{ render_3split_grid(form2.given, form2.when, form2.then) }}
        </div>
      </fieldset>
    </form>
  </div>

      <!-- Modal -->
      <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Delete Project?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <form action="{{ url_for('stories.delete_storey', id=stories.id )}}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete">
              </form>
            </div>
          </div>
        </div>
      </div>
{% endif %}

{% endblock content %}
