{% extends "layout.html" %}

{% block content %}
{% from 'includes/_formhelpers.html' import render_field_grid, render_readonly_grid, render_field_grid_disabled %}
    <h1>{{ title }}</h1>
    <div class="content-section">
      <form action="" method="post">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">{{ title }}</legend>
          <div class="form-group col-md-12">
            {{ render_field_grid_disabled(form.who) }}
            {{ render_field_grid_disabled(form.what) }}
            {{ render_field_grid_disabled(form.in_order) }}
          </div>
        </fieldset>
        <div class="form-group">
          <a class="btn btn-primary" href="{{ url_for('stories.edit', id=stories.id )}}">  Update  </a>
          <a class="btn btn-primary" href="{{ url_for('stories.list', id=stories.id )}}">  Close  </a>
        </div>
      </form>
    </div>
    <div class="border-top pt-3">

{% endblock content %}
