<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if refresh %}
    <meta http-equiv="refresh" content="{{ refresh }}">
    {% endif %}
    <!-- Local copy of https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css As at 07/09/2019 -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap/4.3.1/css/bootstrap.min.css') }}">
    <!-- Local copy of mdbootstrap package https://mdbootstrap.com/docs/jquery/getting-started/download/ -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/mdb/datatables.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">
    <!-- Configure SASS file from static/sass folder to static/css folder -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='scss/main.scss') }}">

    <!-- Local copy of https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js As at 07/09/2019 -->
    <script src="{{ url_for('static',filename='styles/JQuery/3.4.1/jquery.min.js') }}"></script>
    <!-- Local copy of https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js As at 07/09/2019 -->
    <script src="{{ url_for('static',filename='styles/bootstrap/4.3.1/js/bootstrap.bundle.min.js') }}"></script>
    <!-- Local copy of mdbootstrap package https://mdbootstrap.com/docs/jquery/getting-started/download/  -->
    <script type="text/javascript" src="{{ url_for('static',filename='styles/mdb/datatables.min.js') }}"></script>
    <title>URA - {{ title or 'User Research Your Way' }}</title>
</head>

<body>
    <header>
        {% include 'includes/_navbar.html' %}
    </header>
    <div class="px-3">
      {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <!-- <strong>Title</strong> --> {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    $(document).ready(function () {
        // with this it will give alert on change with all input, text area, select fields
        $("#alert_form").on("input change", function () {
            window.onbeforeunload = window.onbeforeunload || function (e) {
                return "You have unsaved changes.  Do you want to leave this page and lose your changes?";
            };
        });
        $("#alert_form").on("submit", function () {
            window.onbeforeunload = null;
        });
    })
</script>

</html>
