@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\0000311}}
* {
  font-size: 1rem;
  font-family: Arial;
  padding: 0.5px; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\0000317}}
  body {
    background-color: #f0f8ff !important; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\0000323}}
    .custom-control-input:checked ~ .custom-control-label::before {
      background-color: #00ff00 !important; }

      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\0000326}}
      .custom-control-label::before {
        background-color: #ff0000 !important; }

        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\0000329}}
        .custom-switch {
          padding-left: 5rem !important; }

          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\0000335}}
          .bg-navbar {
            background: #205081 !important; }

            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\0000340}}
            .navbar-dark .navbar-nav .nav-link {
              color: #fff !important;
              padding-right: 25px !important;
              padding-left: 25px !important; }

              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\0000348}}
              .active, .nav-link:hover {
                background-color: #296ca3;
                cursor: pointer; }

                @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\0000355}}
                .station {
                  background-color: lightgrey; }

                  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\0000359}}
                  fieldset {
                    border: 1px solid #000 !important;
                    margin: 0;
                    border-radius: 4px;
                    position: relative;
                    background-color: #D1E9FF;
                    padding-left: 10px !important;
                    padding-right: 10px !important;
                    margin-bottom: 10px;
                    padding-bottom: 10px; }

                    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\0000371}}
                    legend {
                      width: auto;
                      font-weight: bold;
                      margin-bottom: 0px;
                      border-radius: 4px;
                      padding: 5px;
                      background-color: #205081;
                      color: white; }

                      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\0000381}}
                      .row {
                        margin-bottom: 5px; }

                        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\0000387}}
                        .w-25, .w-35, .w-40 {
                          text-align: center; }

                          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\0000391}}
                          .w-35 {
                            width: 35% !important; }

                            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\0000395}}
                            .w-40 {
                              width: 40% !important; }

                              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\0000399}}
                              ::placeholder {
                                color: #888888 !important;
                                opacity: 1 !important; }

                                @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003104}}
                                .flag {
                                  margin-top: -5px;
                                  padding-top: -10px; }

                                  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003112}}
                                  .govuk-button {
                                    font-family: "GDS Transport", Arial, sans-serif;
                                    -webkit-font-smoothing: antialiased;
                                    -moz-osx-font-smoothing: grayscale;
                                    font-weight: 400;
                                    font-size: 16px;
                                    font-size: 1rem;
                                    line-height: 1.1875;
                                    -webkit-box-sizing: border-box;
                                    box-sizing: border-box;
                                    display: inline-block;
                                    position: relative;
                                    width: 100%;
                                    margin-top: 0;
                                    margin-bottom: 22px;
                                    padding: 8px 10px 7px;
                                    border: 2px solid transparent;
                                    border-radius: 0rem !important;
                                    color: #fff;
                                    text-align: center;
                                    vertical-align: top;
                                    cursor: pointer;
                                    -webkit-appearance: none; }

                                    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003137}}
                                    .btn {
                                      border-radius: 0rem !important; }

                                      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003142}}
                                      .save {
                                        background-color: #00703c;
                                        -webkit-box-shadow: 0 2px 0 #002d18;
                                        box-shadow: 0 2px 0 #002d18;
                                        color: #fff; }

                                        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003149}}
                                        .save:hover {
                                          background-color: #005a30;
                                          color: #fff; }

                                          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003155}}
                                          .cancel {
                                            background-color: #F3A83B;
                                            -webkit-box-shadow: 0 2px 0 #ca8223;
                                            box-shadow: 0 2px 0 #d1820c; }

                                            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003161}}
                                            .cancel:hover {
                                              background-color: #ca8223;
                                              color: #fff; }

                                              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003167}}
                                              .warning {
                                                background-color: #d4351c;
                                                -webkit-box-shadow: 0 2px 0 #55150b;
                                                box-shadow: 0 2px 0 #55150b;
                                                color: #fff; }

                                                @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003174}}
                                                .warning:hover {
                                                  background-color: #aa2a16;
                                                  color: #fff; }

                                                  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003181}}
                                                  .govuk-button--secondary {
                                                    background-color: #f3f2f1 !important;
                                                    -webkit-box-shadow: 0 2px 0 #929191 !important;
                                                    box-shadow: 0 2px 0 #929191 !important; }

                                                    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003187}}
                                                    .govuk-button--secondary:hover {
                                                      background-color: #dbdad9 !important; }

                                                      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003191}}
                                                      button > a {
                                                        color: #0b0c0c;
                                                        text-decoration: none !important; }

                                                        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003196}}
                                                        a:hover {
                                                          color: #0b0c0c; }

                                                          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003203}}
                                                          .table td, .table th {
                                                            vertical-align: middle; }

                                                            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003207}}
                                                            .tableFixhead thead th {
                                                              position: sticky;
                                                              top: 0px; }

                                                              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003212}}
                                                              .table .thead-dark th {
                                                                background-color: #575757; }

                                                                @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003216}}
                                                                tr:nth-child(even) {
                                                                  background-color: #f2f2f2; }

                                                                  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003220}}
                                                                  tr:nth-child(odd) {
                                                                    background-color: #c0c0c0; }

                                                                    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003228}}
                                                                    table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before,
                                                                    table.dataTable thead .sorting_desc:before,
                                                                    table.dataTable thead .sorting_asc_disabled:before,
                                                                    table.dataTable thead .sorting_desc_disabled:before {
                                                                      right: 1em;
                                                                      content: "↑" !important; }

                                                                      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003237}}
                                                                      table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after,
                                                                      table.dataTable thead .sorting_desc:after,
                                                                      table.dataTable thead .sorting_asc_disabled:after,
                                                                      table.dataTable thead .sorting_desc_disabled:after {
                                                                        content: "↓" !important;
                                                                        right: 0.5em !important; }

                                                                        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003250}}
                                                                        table.dataTable thead .sorting:before, table.dataTable thead .sorting:after,
                                                                        table.dataTable thead .sorting_asc:before,
                                                                        table.dataTable thead .sorting_asc:after,
                                                                        table.dataTable thead .sorting_desc:before,
                                                                        table.dataTable thead .sorting_desc:after,
                                                                        table.dataTable thead .sorting_asc_disabled:before,
                                                                        table.dataTable thead .sorting_asc_disabled:after,
                                                                        table.dataTable thead .sorting_desc_disabled:before,
                                                                        table.dataTable thead .sorting_desc_disabled:after {
                                                                          bottom: 0.01em !important;
                                                                          opacity: 0.3 !important; }

                                                                          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003256}}
                                                                          table.dataTable thead .hidesort:after, table.dataTable thead .hidesort:before {
                                                                            content: none !important; }

                                                                            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003269}}
                                                                            table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before,
                                                                            table.dataTable thead .sorting_desc:before,
                                                                            table.dataTable thead .sorting_asc_disabled:before,
                                                                            table.dataTable thead .sorting_desc_disabled:before,
                                                                            table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after,
                                                                            table.dataTable thead .sorting_desc:after,
                                                                            table.dataTable thead .sorting_asc_disabled:after,
                                                                            table.dataTable thead .sorting_desc_disabled:after {
                                                                              font-size: 0.9rem !important; }

                                                                              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003274}}
                                                                              table.dataTable thead .sorting_asc:before,
                                                                              table.dataTable thead .sorting_desc:after {
                                                                                opacity: 1 !important; }

                                                                                @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003279}}
                                                                                .table-bordered td, .table-bordered th {
                                                                                  border: 1px solid #aaaaaa; }

                                                                                  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003283}}
                                                                                  .pre-scrollable {
                                                                                    overflow-x: hidden; }

                                                                                    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003287}}
                                                                                    .table .actual {
                                                                                      color: #000000; }

                                                                                      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003291}}
                                                                                      .table .eta {
                                                                                        color: white;
                                                                                        background-color: #6c6d7a; }

                                                                                        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003300}}
                                                                                        @media (max-width: 1024px) {
                                                                                          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003300}}
                                                                                          * {
                                                                                            font-size: 0.7rem;   }
                                                                                            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003303}}
                                                                                            .nav-link {
                                                                                              font-size: 0.8rem;   }
                                                                                              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003306}}
                                                                                              .govuk-button {
                                                                                                font-size: 0.7rem;   }
                                                                                                @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003309}}
                                                                                                .dds-table-wide {
                                                                                                  font-size: 5.5px;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003315}}
@media (min-width: 1025px) and (max-width: 1366px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003315}}
  * {
    font-size: 1vw;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003318}}
    .nav-link {
      font-size: 1rem;   }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003321}}
      .govuk-button {
        font-size: 0.8rem;   }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003324}}
        .dds-table-wide {
          font-size: 0.7rem;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003330}}
@media (min-width: 1367px) and (max-width: 1479px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003330}}
  * {
    font-size: 1vw;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003333}}
    .nav-link {
      font-size: 1rem;   }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003336}}
      .govuk-button {
        font-size: 1rem;   }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003339}}
        .dds-table-wide {
          font-size: 0.72rem;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003345}}
@media (min-width: 1480px) and (max-width: 1799px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003345}}
  * {
    font-size: 1vw;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003348}}
    .nav-link {
      font-size: 1rem;   }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003351}}
      .govuk-button {
        font-size: 1rem;   }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003354}}
        .dds-table-wide {
          font-size: 0.73rem;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003360}}
@media (min-width: 1800px) and (max-width: 1999px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003360}}
  * {
    font-size: 1vw;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003363}}
    .nav-link {
      font-size: 1rem;   }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003366}}
      .govuk-button {
        font-size: 1rem;   }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003369}}
        .dds-table-wide {
          font-size: 0.76rem;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003375}}
@media (min-width: 2000px) and (max-width: 2200px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003375}}
  * {
    font-size: 1vw;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003378}}
    .nav-link {
      font-size: 1rem;   }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003381}}
      .govuk-button {
        font-size: 1rem;   }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003384}}
        .dds-table-wide {
          font-size: 0.78rem;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003390}}
@media (min-width: 2201px) and (max-width: 2299px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003390}}
  * {
    font-size: 1rem;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003393}}
    .nav-link {
      font-size: 1rem;   }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003396}}
      .govuk-button {
        font-size: 1rem;   }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003399}}
        .dds-table-wide {
          font-size: 0.9rem;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003405}}
@media (min-width: 2300px) and (max-width: 2600px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003405}}
  * {
    font-size: 1rem;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003408}}
    .nav-link {
      font-size: 1rem;   }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003411}}
      .dds-table-wide {
        font-size: 0.95rem;   }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003417}}
@media (min-width: 2601px) and (max-width: 3799px) {
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003417}}
  * {
    font-size: 1.1rem;   }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003420}}
    .nav-link {
      font-size: 1.1rem;   }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tiggaa\/Project\/Rapid\/RAPID\/static\/scss\/main\.scss}line{font-family:\00003423}}
      .dds-table-wide {
        font-size: 1rem;   }
}
