<!-- NAVIGATION BAR -->

<nav class="navbar navbar-expand-lg navbar-dark bg-navbar">

  <!-- Navbar brand name -->
  {% if current_user.is_authenticated %}
  <a href="/" class="navbar-brand icon-bold font-weight-bold"> RAPID</a>
  {% else %}
    <a class="navbar-brand" href="{{ url_for('user.splash') }}">RAPID</a>
  {% endif %}
  <!-- Navbar-toggler-icon for mobile devices -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar collapse under toggler icon while viewing in mobile devices -->
  <div class="collapse  navbar-collapse " id="navbarMenu">
      <ul class="navbar-nav">
        {% if current_user.accountType_id in [3, 4] %}
          <li class="nav-item">
              <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
              <a href="{{ url_for('Incident.list') }}" class="nav-link">Incident</a>
          </li>
          <li class="nav-item">
              <a href="{{ url_for('Mission.listedit') }}" class="nav-link">Medical Missions</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Update Details</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{ url_for('MTF.listedit') }}">Update MTFs</a>
              <a class="dropdown-item" href="{{ url_for('Station.listedit') }}">Update MEDEVAC Stations</a>
            </div>
          </li>
          {% endif %}
          {% if current_user.accountType_id in [2, 3, 4] %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Info Boards</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{{ url_for('MTF.list') }}">View MTFs</a>
              <a class="dropdown-item" href="{{ url_for('Station.list') }}">View MEDEVAC Stations</a>
              <a class="dropdown-item" href="{{ url_for('Mission.list') }}">View Medical Missions</a>
            </div>
          </li>
          {% endif %}
      </ul>

      <!-- Setting cog logo -->
      <ul class="navbar-nav ml-auto">
        {% if current_user and current_user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Logged in as: {{ current_user.username }} </a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{ url_for('user.self_edit') }}">View / Update Profile</a>
            <a class="dropdown-item" href="{{ url_for('user.reset_password', user_id=current_user.id) }}">Change Password</a>
            <a class="dropdown-item" href="{{ url_for('user.logout')}}">Logout</a>
          </div>
          {% if current_user.accountType_id == 4 %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">&#9881</a>
          <div class="dropdown-menu dropdown-menu-right dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{ url_for('upload') }}">Import Data as CSV</a>
            <a class="dropdown-item" href="{{ url_for('download') }}">Export Data as CSV</a>
            <a class="dropdown-item" href="{{ url_for('user.list')}}">User Management</a>
          </div>
        </li>
        {% endif %}
        {% else %}
        <li class="nav-item">
          <a class="nav-link navbar-text" href="{{ url_for('user.login') }}">Sign In</a>
        </li>
        {% endif %}
      </ul>
  </div>
</nav>
