<!-- NAVIGATION BAR -->

<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">

  <!-- Navbar brand name -->
  {% if current_user.is_authenticated %}
  <a href="/" class="navbar-brand icon-bold font-weight-bold"> URT</a>
  {% else %}
    <a class="navbar-brand" href="{{ url_for('users.splash') }}">URT</a>
  {% endif %}
  <!-- Navbar-toggler-icon for mobile devices -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar collapse under toggler icon while viewing in mobile devices -->
  <div class="collapse  navbar-collapse " id="navbarMenu">
      <ul class="navbar-nav">
        {% if current_user.acctType_id in [3, 4] %}
          <li class="nav-item">
              <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-item nav-link" href="{{ url_for('main.about') }}">Personas</a>
          </li>
          <li class="nav-item">
              <a class="nav-item nav-link" href="/about">User Stories</a>
          </li>
          <li class="nav-item">
              <a class="nav-item nav-link" href="/about">Stakeholders</a>
          </li>
          <li class="nav-item">
              <a class="nav-item nav-link" href="{{ url_for('projects.list') }}">Projects</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">New</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{{ url_for('posts.new_post') }}">Post</a>
                <a class="dropdown-item" href="{{ url_for('projects.add') }}">Project</a>
                <a class="dropdown-item" href="#">Persona</a>
                <a class="dropdown-item" href="#">User Storey</a>
                <a class="dropdown-item" href="#">Stakeholder</a>
            </div>
          </li>
          {% endif %}
      </ul>

      <!-- Setting cog logo -->
      <ul class="navbar-nav ml-auto">
        {% if current_user and current_user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Logged in as: {{ current_user.username }} </a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{ url_for('users.account') }}">View / Update Profile</a>
            <a class="dropdown-item" href="{{ url_for('users.reset_password', user_id=current_user.id) }}">Change Password</a>
            <a class="dropdown-item" href="{{ url_for('users.logout')}}">Logout</a>
          </div>
          {% if current_user.acctType_id == 4 %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">&#9881</a>
          <div class="dropdown-menu dropdown-menu-right dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{ url_for('upload') }}">Import Data as CSV</a>
            <a class="dropdown-item" href="{{ url_for('download') }}">Export Data as CSV</a>
            <a class="dropdown-item" href="{{ url_for('users.list')}}">User Management</a>
          </div>
        </li>
        {% endif %}
        {% else %}
        <li class="nav-item">
          <a class="nav-link navbar-text" href="{{ url_for('users.login') }}">Sign In</a>
        </li>
        {% endif %}
      </ul>
  </div>
</nav>
