{% extends "layout.html" %}
  {% block content %}
{% from 'includes/_formhelpers.html' import render_field_grid %}
  <h1>Edit User Details</h1>
    <form id="alert_form" method="POST" action="">
      {{ form.hidden_tag() }}
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <fieldset>
            <legend><label>User Details</label></legend>
            <div class="form-group">
              {{ render_field_grid(form.username) }}
              {{ render_field_grid(form.email) }}
              {{ render_field_grid(form.accountType) }}
            </div>
          </fieldset>
        </div>
      </div>
      <!-- Delete and Cancel Button -->
      <div class="row">
        <div class="col-lg-3">1</div>
        <div class="col-lg-6 row">
          <div class="col-lg-4">
            <a class='btn btn btn-primary warning float-right m-1' href="{{ url_for('users.list') }}">Cancel</a>
          </div>
          <div class="col-lg-4">
            <a class='btn btn btn-danger warning float-right m-1' href="{{ url_for('users.user_delete', id=id) }}">Delete User</a>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              {{ form.submit(class="btn btn btn-warning save float-right") }}
            </div>
          </div>
        </div>
      </div>
    </form>
  {% endblock content %}
