{% extends "layout.html" %}
{% block content %}
<div>
  <div class="row">
      <div class="col-lg-11">
            <h1 class="font-weight-bold page-title"><small>User Management</small></h1>
        </div>
        <div class="col-lg-1">
            <a class='btn btn btn-primary save float-right m-1' href="{{ url_for('users.add')}}">New User</a>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-12 table-responsive">
            <table class="display table table-striped text-center table-bordered table-sm dataTable"
              cellspacing="0" width="100%" role="grid" aria-describedby="dtBasicExample_info" style="width: 100%;">
              <thead>
                <tr role="row">
                  <th>Username</th>
                  <th>eMail address</th>
                  <th>Password</th>
                  <th>Account Type</th>
                  <th>Edit</th>
                </tr>
              </thead>
              {% for user in users %}
              <tr role="row" class="odd">
                <td class="sorting_1">{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td><a class="btn btn-primary" href="{{ url_for('users.reset_password', user_id=user.id)}}">Reset Password</a></td>
                <td>{{ user.acctType.acctType }}</td>
                <td><a class="btn btn-secondary" href="{{ url_for('users.admin_edit', user_id=user.id)}}">  Edit  </a></td>
              </tr>
              {% endfor %}
            </table>
      </div>
    </div>
</div>
{% endblock content %}
