{% extends "layout.html" %}
{% from 'includes/_formhelpers.html' import render_field_grid %}
{% block body %}
    <div class="content-section row">
      <div class="col-md-3"></div>
      <div class="content-section col-md-6">
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Account Info</legend>
              <div class="media">
                <img class="rounded-circle account-img" height=125 width=125 src="{{ url_for('static',filename='images/System-users-3.svg.png') }}">
                <div class="media-body">
                  <h2 class="account-heading">Username: {{ user.username }}</h2>
                  <p class="text-secondary">eMail Address: {{ user.email }}</p>
                  <p class="text-secondary">Account Type: {{ user.acctType.accountType}}</p>
                </div>
              </div>
          </fieldset>

        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                <div class="form-group">
                  {{ render_field_grid(form.password) }}
                  {{ render_field_grid(form.confirm_password) }}
                </div>
            </fieldset>
            <div class="form-group row">
              <div class="col-md-6">
                {% if user.username == current_user.username %}
                  <a class='btn btn govuk-button warning float-right m-1' href="{{ url_for('user.self_edit') }}">Cancel</a>
                {% else %}
                  <a class='btn btn govuk-button warning float-right m-1' href="{{ url_for('user.list') }}">Cancel</a>
                {% endif %}
              </div>
              <div class="col-md-6">
                  {{ form.submit(class="btn btn govuk-button save float-right m-1") }}
              </div>
            </div>
        </form>
    </div>
    </div>
{% endblock body %}
