{% extends 'layout.html' %}

{% block content %}
<div class="container" width="100%">
  <h1>User Research Assistance (URA) </h1>
  <p>This tool is designed to assit User Researchers tto develope User Personas, User Stories, and Acceptance Criteria.</p>
  <p>User Stories cannot be created until a User Persona has been created.</p>
  <p></p>
  <h2>User Accounts</h2>
  <p>User Accounts can be self registered, but will need to be approved by an administrator before use.</p>
  <p></p>
  <h2>System Requirements</h2>
  <p>This service is best viewed using Google Chrome; some functionality may be unavailable using other browsers.</p>
  <p></p>
  <h2>Future Development</h2>
  <p>The development roadmap includes:
  [] the ability to record and track stakeholders;
  [] Export Function to import use stories to Jira;
  [] Export Pesonas to PDF, including User Stories and Acceptance Criteria</p>
</div>
{% endblock content %}
