{% extends 'layout.html' %}

{% block body %}
<div class="container-fluid" width="100%">
  <h1>Risk Analytics and Prediction of Injury Deterioration Tool (RAPID)</h1>
  <p>This tool is designed for use by the PECC within Bde and Divisional formations,
    to assist them with MTF and MEDEVAC capacity tracking, across their Area of Operations.</p>
  <p>Access to a read only variant is also available to the Operations Room.</p>
  <p>You need to log in to use this tool, if you require access please speak to the PECC to create an account</p>
  <p></p>
  <h2>System Requirements</h2>
  <p>This service is best viewed using Google Chrome; some functionality may be unavailable using other browsers.</p>
</div>
{% endblock body %}
